@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

html,
body {
  font-family: 'Merriweather Sans', sans-serif;
}

/* existing styles */

@media (max-width: 768px) {
  .App > div {
    margin-left: 0px;
  }
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(41, 54, 81);
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

.skills-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.skills-container::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.skills-container::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

/* div .gt_float_switcher {
  font-size: 14px;
  border-radius: 10px;
}

.language-dropdown .gtranslate_wrapper {
  max-height: 200px;
  overflow-y: auto;
} */

/* .hero-section {
  background: radial-gradient(circle, rgba(0, 0, 0) 1px, transparent 1px),
              radial-gradient(circle, rgb(0, 0, 0) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  z-index: -1;
} */

@media (max-width: 768px) {
  .App {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: visible !important;
  }

  .App > div,
  .App .w-full {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .profile-card {
    margin: 0 !important;
  }
}
